.mountainimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -5;
}

.bgimagediv {
  height: 75vh;
  width: 100%;
}

body {
  background: rgb(32, 41, 38);
  background: linear-gradient(
    180deg,
    rgba(32, 41, 38, 1) 70%,
    rgba(42, 55, 50, 1) 100%
  );
}

h1 {
  color: #202926;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
}

.bio {
  color: #202926;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
}

.downarrow {
  justify-content: center;
  margin-top: 10rem;
}

.downarrowatag {
  color: inherit;
  opacity: 25%;
}

.downarrowatag:hover {
  opacity: 100%;
}

.selfie {
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 20px #85abb6;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.whoami {
  color: #85abb6 !important;
  font-family: "Dosis", sans-serif;
  font-size: 4rem;
  text-transform: capitalize;
  font-style: italic;
}

.bio2 {
  color: #85abb6;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
}

.books {
  border-radius: 10%;
  box-shadow: 10px 10px 10px;
  object-fit: cover;
}

.herohead {
  color: #85abb6 !important;
  font-family: "Dosis", sans-serif;
  font-size: 4rem;
  text-transform: capitalize;
}

.herotext {
  color: #85abb6 !important;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
}

.carousel {
  box-shadow: 10px 10px 20px, 10px -10px 20px;
}

.camel {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: 0 13%;
}

.food {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: 100% 91%;
}

.barca {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: 0 0%;
}

.htravel {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 4rem;
  text-transform: capitalize;
}

.dsagrada {
  bottom: 30rem !important;
  right: 50%;
}

.dfood {
  bottom: 35rem !important;
  right: 20%;
}

.btn {
  font-family: "Dosis", sans-serif;
  text-transform: capitalize;
}

.link {
  color: #85abb6;
}

.link:hover {
  color: #69868f;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(133, 171, 182, 0),
    rgba(133, 171, 182, 0.75),
    rgba(133, 171, 182, 0)
  );
}

.footer {
  width: 100vw;
  background-color: #19381F;   /* Use your preferred dark green */
  border-top: 2px solid #fff;  /* White line */
  left: 0;
  margin: 0;
  position: relative;          /* Use 'fixed' and add bottom: 0; if you want a sticky footer */
  box-sizing: border-box;
  z-index: 10;                 /* Keeps footer above other elements if necessary */
}

.footername {
  color: #85abb6 !important;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
}

.footerhouse {
  color: #85abb6;
}

.footerhouse:hover {
  opacity: 50%;
}

.mail {
  color: #85abb6;
}

.mail:hover {
  opacity: 50%;
}

@media (max-width: 992px) {
  .selfie {
    width: 75%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .bio {
    font-size: 1.5rem;
  }
}

@media (max-height: 720px) {
  .bi-arrow-down-circle {
    display: none;
  }
  .dsagrada {
    bottom: 25rem !important;
  }
  .hsagrada {
    font-size: 3rem;
    bottom: 20%;
    right: 40%;
    position: absolute;
  }
  .dfood {
    bottom: 25rem !important;
  }
  .hfood {
    font-size: 3rem;
  }
  .barca {
    object-position: 100% 100%;
  }
}
